{% extends "object_detection/base.html" %}

{% block content %}
<p>Добро пожаловать в Object Detection Platform, где мы раскрываем потенциал компьютерного зрения для преобразования отраслей.</p>
<h3>Что такое компьютерное зрение?</h3>
<p>Компьютерное зрение — это область искусственного интеллекта, которая позволяет машинам видеть, понимать и реагировать на окружающую среду. У него множество применений, включая обнаружение объектов, классификацию изображений, распознавание лиц и сегментацию изображений.</p>
<h3>Наш Опыт</h3>
<p>Мы разрабатываем индивидуальные решения для компьютерного зрения с использованием глубокого обучения, OpenCV и других методов.</p>
<h3>Начало работы</h3>
<p>Перейдите на страницу <a href="{% url 'object_detection:dashboard' %}">Дэшборд</a> для того чтобы опробовать наше приложение</p>
{% endblock %}